.adTop {
    height: 80px;
    width: 1248px;
    background: url(../images/home/sprite.png) 0 0 no-repeat;
    margin: 0 auto;
}

#top {
    height: 30px;
    border-bottom: 1px solid #ededee;
    background-color: #f2f2f2;
}

#top .w div.l {
    font-size: 12px;
    color: #666;
    line-height: 30px;
}

#top .w div.l a {
    color: #666;
}

#top .w div.l a.phone {
    color: #d22147;
}

#top .w div.l a.in {
    padding-left: 21px;
    padding-right: 11px;
    border-right: 1px solid #d3ccd3;
}

#top .w div.l a.join {
    padding-left: 14px;
    padding-right: 18px;
}

#top .w ul {
    height: 30px;
}

#top .w ul li {
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

#top .w ul span {
    line-height: 30px;
    color: #d3ccd3;
    font-size: 12px;
}

#top .w ul li > a {
    color: #666;
    display: block;
    height: 30px;
    padding: 0 15px;
}

#top .w ul li.more {
    background: url(../images/home/sprite.png) 67px -218px no-repeat;
    padding-right: 10px;
    position: relative;
}

#top .w ul li .person {
    width: 89px;
    padding: 5px 14px 12px;
    background-color: #fff;
    position: absolute;
    left: -2px;
    border: 1px solid #e8e8ea;
    border-top: none;
    visibility: hidden;
}

#top .w ul li .person a {
    display: block;
    height: 28px;
    color: #666;
}

.person div {
    border-bottom: 1px solid #eaeaea;
}

#top .w ul li.more:hover .person {
    visibility: visible;
}

#top .w ul li .person a:hover {
    color: #d22147;
}

.service {
    width: 97px;
    position: absolute;
    left: -2px;
    padding: 3px 0 12px 0;
    background: url(../images/home/sprite.png) 0 -249px no-repeat;
    border: 1px solid #e8e8ea;
    border-top: none;
    visibility: hidden;
}

.service a {
    color: #666;
    display: block;
    height: 28px;
    text-indent: 33px;
    line-height: 28px;
}

#top .w ul li.more:hover .service {
    visibility: visible;
}

#top .w ul li.last {
    background: url(../images/home/sprite.png) 44px -218px no-repeat;
    padding-right: 10px;
    position: relative;
}

#top .w ul li.last .moreDiv {
    width: 60px;
    padding: 3px 14px 12px;
    border: 1px solid #e8e8ea;
    border-top: none;
    background-color: #fff;
    position: absolute;
    left: -2px;
    visibility: hidden;
}

#top .w ul li.last .moreDiv div {
    border-bottom: 1px solid #eaeaea;
}

#top .w ul li.last .moreDiv a {
    color: #666;
    display: block;
    height: 28px;
    line-height: 28px;
}

#top .w ul li.last:hover .moreDiv {
    visibility: visible;
}

#top .w ul li.last .moreDiv a:hover {
    color: #d22147;
}

#top .w a:hover {
    color: #d22147;
}

#header {
    height: 100px;
}

#header h1 a {
    display: block;
    height: 100px;
    width: 433px;
    background: url(../images/home/sprite.png) 0 -80px no-repeat;
}

#header .r {
    padding-top: 26px;
}

#header .r .search {
    float: left;
    height: 30px;
    width: 317px;
    border: 1px solid #d22147;
    background: url(../images/home/sprite.png) 0 -180px no-repeat;
    text-indent: 30px;
    color: #999;
    line-height: 30px;
    font-size: 12px;
}

#header .r .btn {
    float: left;
    height: 32px;
    width: 62px;
    background-color: #d22147;
    border: 0;
    font-size: 13px;
    color: #fff;
}

#header .r div {
    margin-top: 38px;
    clear: both;
}

#header .r div a {
    font-size: 13px;
    color: #444;

}

#header .r div a.red {
    color: #d22147;
}

#header .r div span {
    margin: 0 10px;
    color: #b299b2;
    font-size: 12px;
}

#nav {
    height: 42px;
    background-color: #222;
}

#nav ul {
    height: 42px;
}

#nav .car {
    height: 42px;
    width: 120px;
    text-align: center;
    text-indent: 0px;
    line-height: 42px;
    font-size: 12px;
}

#nav .car a {
    display: block;
    height: 42px;
    width: 120px;
    background:url("../images/home/car.PNG") no-repeat 0 0;
    color: #fff;
    position: relative;
}

#nav .car span {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #d22147;
    line-height: 20px;
    position: absolute;
    top: 11px;
}

#nav #subManu {
    height: 42px;
    width: 110px;
    background-color: #d22147;
    line-height: 42px;
    font-size: 14px;
    text-align: center;
    position: relative;
}

#nav #subManu:hover .secondManu {
    visibility: visible;
}

#nav #subManu a {
    display: block;
    height: 42px;
    width: 110px;
    color: #fff;
}

#nav #subManu .secondManu {
    height: 400px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
    display: block;
    padding: 0 10px;
    visibility: hidden;
}

#nav #subManu .secondManu div {
    height: 39px;
    border-bottom: 1px solid #413e3b;
    line-height: 39px;
    font-size: 13px;
}

#nav #subManu .secondManu div a {
    display: block;
    height: 39px;
    width: 140px;
    color: #FFF;
}

#nav #subManu .secondManu .thirdManu {
    height: 390px;
    width: 650px;
    background-color: #fff;
    position: absolute;
    left: 150px;
    top: 0;
    padding-left: 25px;
    padding-top: 8px;
    border: 1px solid #666;
    visibility: hidden;
}

#nav #subManu .secondManu div a:hover {
    background-color: rgba(74, 74, 74, 0.7)
}

#nav #subManu .secondManu div:hover .thirdManu {
    visibility: visible;
}

#nav #subManu .secondManu .thirdManu dl {
    width: 270px;
    padding-right: 35px;
}

#nav #subManu .secondManu .thirdManu dl.odd {
    margin-right: 35px;
}

#nav #subManu .secondManu .thirdManu dl dt {
    width: 275px;
    height: 36px;
    margin-bottom: 6px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #eaeaea;
}

#nav #subManu .secondManu .thirdManu dl dt a {
    display: inline;
    color: #000;
}

#nav #subManu .secondManu .thirdManu dl dd {
    line-height: 26px;
    text-align: left;
}

#nav #subManu .secondManu .thirdManu dl dd a {
    display: inline;
    color: #666;
}

#nav #subManu .secondManu .thirdManu dl dd span {
    margin: 0 8px;
}

#nav .subManu a {
    color: #fff;
}

#nav ul li {
    width: 110px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}

#nav ul li a {
    color: #fff;
    display: block;
    height: 42px;
    width: 110px;
    text-align: center;
}

#nav ul li a:hover {
    background-color: #444;
}

#nav ul li.first {
    width: 100px;
}

#nav ul li.first a {
    width: 100px;
    background-color: #d22147;
}

#pic {
    height: 400px;
    font-family: "宋体";
    font-size: 50px;
    overflow: hidden;
    position: relative;
}

#pic .images {
    width: 11520px;
    position: absolute;
    left: 0;
}

#pic .images li {
    float: left;
}

#pic .num {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
    text-align: center;
    font-size: 0;
}

#pic .num li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: dimgrey;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
}

#pic .num .on {
    background-color: coral;
}

#pic .btn {
    width: 40px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: white;
    display: none;
}

#pic:hover .btn {
    display: block;
}

#pic .btn_l {
    left: 200px;
}

#pic .btn_r {
    right: 200px;
}

#icon {
    background-color: #f3f3f3;;
}

#icon .w {
    height: 81px;
    background: url(../images/home/sprite.png) 0 -321px no-repeat;
}

#content {
    background: #f3f3f3;
    padding-bottom: 80px;
}

#content .dayNew {
    width: 1091px;
}

#content .dayNew h2 {
    height: 60px;
    font-size: 23px;
    line-height: 60px;
    font-weight: normal;
}

#content .dayNew h2 span {
    font-size: 18px;
    font-weight: normal;
}

#content .dayNew div {
    height: 304px;
    border: 1px solid #eaeaea;
}

#content .dayNew div dl {
    width: 217px;
    height: 304px;
    background-color: #fff;
    border-right: 1px solid #eaeaea;
}

#content .dayNew div dl.last {
    border: 0;
    width: 216px;
}

#content .dayNew div dt a {
    display: block;
    height: 200px;
    width: 217px;
    background: url(../images/home/sprite.png) 0 -402px no-repeat;
}

#content .dayNew div dd.title {
    height: 38px;
    line-height: 19px;
    font-size: 13px;
    padding: 0 15px;
}

#content .dayNew div dd.title a {
    color: #000;
}

#content .dayNew div dd.title a:hover {
    color: #999;
}

#content .dayNew div dd.price {
    margin-top: 11px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0 15px;
}

#content .dayNew div dd.price span {
    font-size: 16px;
    font-weight: bold;
}

#content .dayNew div dd.price a {
    color: #d22147;
}

#content .dayNew div dd.country {
    font-size: 12px;
    color: #999;
    padding: 0 15px;
    height: 19px;
    line-height: 19px;
}

.four a {
    margin-top: 20px;
    display: block;
    width: 535px;
    height: 175px;
    background: url("../images/home/sprite.png") no-repeat 0 -602px;
    float: left;
}

.four a.marginR {
    margin-right: 20px;
}

.today {
    margin-top: 21px;
}

.today h2 {
    height: 58px;
}

.today h2 {
    height: 58px;
    font-size: 23px;
    line-height: 58px;
    font-weight: normal;
}

.today h2 span {
    font-size: 18px;
    font-weight: normal;
}

#content .today .sales {
    height: 331px;
    border: 1px solid #ececec;
    margin-bottom: 18px;
}

#content .today .sales > a {
    display: block;
    height: 331px;
    width: 536px;
    background: url(../images/home/sprite.png) no-repeat 0 -777px;
}

#content .today .sales .r {
    padding: 0 35px;
    background-color: #fff;
    width: 482px;
    height: 331px;
}

#content .today .sales .up {
    height: 40px;
    padding: 20px 0 15px 0;
}

#content .today .sales .up {
    border-bottom: 1px solid #ebebeb;
    height: 40px;
}

#content .today .sales .up .title {
    height: 40px;
    background: url("../images/home/sprite.png") no-repeat 0 -1108px;
    padding-left: 50px;
}

#content .today .sales .down .title {
    font-size: 18px;
    line-height: 26px;
    margin-top: 16px;
}

#content .today .sales .down .text {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 20px;
}

#content .today .sales .down .price {
    font-size: 12px;
    color: #d22147;

}

#content .today .sales .down .price span {
    font-size: 20px;
    font-weight: bold;
}

#content .today .sales .down .kaola {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}

#content .today .sales .down .kaola span {
    font-weight: bold;
    text-decoration: line-through;
    color: #000;
}

#content .next {
    margin-bottom: 19px;
}

#content .next div dt a {
    display: block;
    height: 200px;
    width: 217px;
    background: url(../images/home/sprite.png) 0 -1188px no-repeat;
}

#content .next .dayNew div dd.country span {
    text-decoration: line-through;
}

#content .next h2 {
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    background: url(../images/home/sprite.png) 0 -1148px no-repeat;
    padding-left: 50px;
    color: #fff;
}

#content .next h2 span {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

#content .global h2 {
    height: 61px;
    line-height: 61px;
    font-size: 22px;
}

#content .global h2 span {
    font-size: 18px;
    font-weight: normal;
}

#content .global dl {
    width: 535px;
    height: 530px;
    border: 1px solid #ededed;
    margin-bottom: 18px;
    background-color: #fff;
}

#content .global dl dt {
    width: 535px;
    height: 330px;
    margin-bottom: 5px;
}

#content .global dl dt a {
    display: block;
    width: 535px;
    height: 330px;
    background: url("../images/home/sprite.png") no-repeat 0 -1390px;
}

#content .global dl .where {
    font-size: 12px;
    color: #999;
    height: 52px;
    line-height: 52px;
    background: url("../images/home/sprite.png") no-repeat 30px -1721px;
    padding-left: 64px;
}

#content .global dl .title {
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}

#content .global dl .title a {
    color: #000;
}

#content .global dl .secondTitle {
    height: 35px;
    padding-left: 30px;
    line-height: 35px;
    font-size: 18px;
}

#content .global dl .secondTitle a {
    color: #000;
}

#content .global dl .price {
    margin-top: 8px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    padding-left: 30px;
}

#content .global dl .price a {
    color: #d22147;
}

#content .global dl .price a span {
    font-size: 20px;
    font-weight: bold;
}

#content .global dl .country {
    font-size: 12px;
    color: #999;
    padding-left: 30px;
    height: 14px;
    line-height: 14px;
}

#content .buy h2 {
    height: 60px;
    line-height: 60px;
    font-size: 22px;
}

#content .buy h2 span {
    font-size: 18px;
    font-weight: normal;
}

#content .buy > div {
    border: 1px solid #ededed;
}

#content .buy dl.l {
    height: 362px;
    width: 362px;
    background-color: #fff;
}

#content .buy dl.l .red {
    height: 68px;
    padding-top: 10px;
    background: url("../images/home/sprite.png") no-repeat 0 -2048px;
    position: relative;
}

#content .buy dl.l .red span {
    position: absolute;
    color: #fff;
    top: 10px;
    right: 20px;
    font-size: 15px;
    font-weight: bold;
}

#content .buy dl.l dt {
    width: 362px;
    height: 275px;
    background: url("../images/home/sprite.png") no-repeat 0 -1773px;
}

#content .buy dl.l .red dt a {
    display: block;
    width: 362px;
    height: 275px;
}

#content .buy dl.l dd {
    line-height: 20px;
    padding-left: 10px;
    width: 250px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

#content .buy dl.l dd.title a {
    color: #fff;
}

#content .buy dl.l dd.title a:hover {
    text-decoration: underline;
}

#content .buy dl.l dd.reason {
    font-weight: normal;
}

#content .buy div.r {
    width: 725px;
    height: 363px;
    border-left: 1px solid #ededed;
}

#content .buy div.r dl {
    height: 180px;
    width: 360px;
    background-color: #fff;
    border: 1px solid #ededed;
}

#content .buy div.r dl dt {
    width: 150px;
    height: 180px;
    background: url("../images/home/sprite.png") no-repeat 0 -2126px;
}

#content .buy div.r dl dd {
    float: right;
    width: 198px;
}

#content .buy div.r dl dd.title {
    margin: 21px 0 10px;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    padding-right: 26px;
    width: 172px;
}

#content .buy div.r dl dd.title a {
    color: #000;
}

#content .buy div.r dl dd.price {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}

#content .buy div.r dl dd.price a {
    color: #d22147;
}

#content .buy div.r dl dd.price a span {
    font-size: 16px;
    font-weight: bold;
}

#content .buy div.r dl dd.reason {
    font-size: 12px;
    color: #666;
}

#link {
    background-color: #fff;
}

#link .trust {
    height: 124px;
    border-bottom: 1px solid #eaeaea;
}

#link .trust div {
    height: 84px;
    width: 214px;
    padding-top: 40px;
    padding-left: 58px;
}

#link .trust div h3 {
    font-size: 18px;
}

#link .trust div p {
    font-size: 14px;
}

#link .trust div.one {
    background: url("../images/home/sprite.png") no-repeat 0 -2306px;
}

#link .trust div.two {
    background: url("../images/home/sprite.png") no-repeat 0 -2430px;
}

#link .trust div.three {
    background: url("../images/home/sprite.png") no-repeat 0 -2554px;
}

#link .trust div.four {
    background: url("../images/home/sprite.png") no-repeat 0 -2678px;
}

#link .station {
    padding-top: 40px;
}

#link .station .contact {
    width: 235px;
    height: 127px;
}

#link .station .contact {
    height: 60px;
}

#link .station .contact p {
    height: 30px;
    line-height: 22px;
    font-size: 25px;
    font-weight: bold;
    color: #d22147;
    border-bottom: 1px solid #d22147;
    width: 194px;
}

#link .station .contact span {
    line-height: 30px;
    font-size: 14px;
    color: #d22147;
}

#link .station .watch {
    height: 50px;
    padding-top: 18px;
}

#link .station .watch strong {
    float: left;
    margin-top: 5px;
}

#link .station .watch span {
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 13px;
}

#link .station .watch span a {
    display: block;
    height: 32px;
    width: 32px;
}

#link .station .watch span.one {
    background: url("../images/home/sprite.png") no-repeat 0 -2802px;
    margin-left: 14px;
}

#link .station .watch span.two {
    background: url("../images/home/sprite.png") no-repeat 0 -2834px;
}

#link .station .watch span.three {
    background: url("../images/home/sprite.png") no-repeat 0 -2866px;
}

#link .station .watch span.four {
    background: url("../images/home/sprite.png") no-repeat 0 -2898px;
}

#link .station dl {
    height: 127px;
    width: 111px;
    padding-left: 12px;
    border-left: 1px solid #eaeaea;
}

#link .station dl dt {
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 14px;
}

#link .station dl dd {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

#link .station dl dd a {
    color: #000;
}

#link .station div.coor, #link .station div.download {
    width: 108px;
    height: 130px;
}

#link .station div.coor {
    margin-right: 15px;
}

.coor div {
    width: 108px;
    height: 108px;
    background: url("../images/home/sprite.png") no-repeat 0 -2898px;
    margin-bottom: 8px;
}

.download div {
    width: 108px;
    height: 108px;
    background: url("../images/home/sprite.png") no-repeat 0 -3006px;
    margin-bottom: 8px;
}

.coor a, .download a {
    display: block;
    font-size: 12px;
    color: #000;
    text-align: center;
}

#footer {
    height: 100px;
    background-color: #323232;
    margin-top: 60px;
    padding-top: 26px;
    position: relative;
}

#footer div {
    height: 24px;
    line-height: 24px;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    color: #c2c2c2;
    font-size: 12px;
}

#footer div a {
    color: #c2c2c2;
}

#footer div a:hover {
    text-decoration: underline;
}

#footer p {
    height: 26px;
    width: 450px;
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
    color: #c2c2c2;
    font-size: 12px;
}

#footer .police {
    display: block;
    width: 80px;
    height: 30px;
    background: url("../images/home/sprite.png") no-repeat 0 -3114px;
    margin: 5px auto;
}

#footer .ad {
    height: 85px;
    width: 960px;
    background: url("../images/home/sprite.png") no-repeat 0 -3144px;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -480px;
}

#footer .ad a {
    display: block;
    height: 85px;
    width: 960px;
    background: url("../images/home/sprite.png") no-repeat 0 -3144px;
}

#footer .ad span {
    position: absolute;
    display: block;
    height: 29px;
    width: 29px;
    background: url("../images/home/sprite.png") no-repeat 0 -3229px;
    top: -14px;
    right: -14px;
    cursor: pointer;
}

div.floatCtro {
    width: 60px;
    height: 350px;
    position: fixed;
    left: 25px;
    top: 10%;
    z-index: 100;
    display: none;
}

div.floatCtro p {
    width: 60px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: '微软雅黑';
    font-size: 14px;
    color: #676767;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: #fff;
}

div.floatCtro a {
    display: inline-block;
    display: none;
    width: 60px;
    height: 60px;
    margin: 10px 0 0 0;
    background: #fff;
    color: #000;
    vertical-align: middle;
    cursor: pointer;
}

div.floatCtro a span {
    display: block;
    width: 28px;
    height: 44px;
    line-height: 22px;
    font-family: '微软雅黑';
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin: 8px 16px;
    _margin: -10px 0 0 16px;
}

div.floatCtro a:hover {
    background: #000;
    color: #fff;
    zoom: 1;
}

div.floatCtro p:hover {
    background: #c40000;
    color: #fff;
}

div.floatCtro p.cur {
    background: #c40000;
    color: #fff;
}


